-provide(:title, "About")
.about_page
	.row
		.col-sm-12.center-block
			%h2 With thousands of speakers to choose from, you can easily find speakers in any location, on any topic!
	.row
		.col-sm-12
			= image_tag "/about_page_images/about.png", :height => "600", :width => "80%", :alt => "Speech_1", class: "center-block img-circle"
