.row{class: "comment-account-foto"}
  .col-md-3.col-sm-4.col-xs-4
    .flex-container
      = link_to "", account_path(comment.account), class: "flex-item--avatar", style: "background-image: url(#{comment.account.image})"
  .col-md-9.col-sm-8.col-xs-8
    .description
      %h4 Description:
      %p= comment.description
      .pull-right
        %p= distance_of_time_in_words(comment.created_at, Time.now)