%tr{data: {item_id: "#{conference.id}"}}
  %td=link_to(conference.title,conference)
  %td= conference.place
  %td
    -if conference.start_date<conference.finish_date
      ="#{conference.start_date.day}-#{conference.finish_date.to_formatted_s(:rfc822) }"
    -else
      =conference.start_date.to_date.to_formatted_s(:rfc822)
  -# %td=conference.description
  %td
    #conference_show_speeches{class: "btn btn-info"} Speeches applied to conference
    #abc
      #conference_speeches
      -# =render partial: "conference_speeches", locals: {speeches: conference.speeches}
