- if @active_conference_requests.any?
  %table.table.table-hover.nopadding{style: "width: 60%"}
    %h2.pos Requests recieved for this confernce
    %thead
      %tr
        %th Speaker
        %th Comment left on request
    %tbody
      -@active_conference_requests.each do |request|
        %tr
          %th=link_to("#{request.account.f_name} #{request.account.l_name}", account_path(request.account))
          %th=request.message
          %th#abc
            #popupContact
              .form
                =form_for([request.conference, request], id: "form", remote: true) do |f|
                  %h2.popup_header="Reply on request from #{request.account.f_name} #{request.account.l_name}"
                  #error_messages
                  =image_tag('close_box_red.png', size: "32x32", alt: "Edit Entry", id: "close")
                  .btn-group{"data-toggle" => "buttons"}
                    %label.btn.btn-success
                      =f.label :Accept_request
                      =f.radio_button :status, :accepted, id: "radio01"
                    %label.btn.btn-danger
                      =f.label :deny_the_request
                      =f.radio_button :status, :declined, id: "radio02"
                  .form-group.has-warning.has-feedback
                    =f.text_area :answer, rows: 5 ,style: "width: 100%",class: "form-control", placeholder: "Please enter comment on your descition"
                    =f.submit id: "text_message", class: "btn btn-primary"
                    %span.glyphicon.glyphicon-warning-sign.form-control-feedback
          %th=link_to('Reply on request', '#', id: "popup", class: "btn btn-warning")
