= form_for(@speech) do |f|
  - if @speech.errors.any?
    #error_explanation
      %h2
        = pluralize(@speech.errors.count, "error")
        prohibited this speech from being saved:
      %ul
        - @speech.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
