/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 .index_pos
 {
   padding-top: 40px;
 }
 .btn {
   margin-top: 15px;
 }
 .content_pos
 {
   padding-top: 10%;
 }
//  .nopadding {
//    padding: 0 !important;
//    margin: 0 !important;
// }
.index_element_padding
{

}
 table {
   width: 100%;
   border: 0;
 }

.container
{
  width: 80%;
}

.speeches_conf
{
  float: right;
}

// textarea
// {
//   width: 100px;
//   height: 100px;
// }
.footer
{
  bottom:0;
  width: 70%
}
.paginate_pos
{
  position: absolute;
  bottom: 35px;
  left: 40%;
}
.pos
{
  text-align: left;
  display: inline-block;
}
.show_img
{
  width: 85%;
  height: auto;  border-radius: 10%;
}
.index_img
{
  width: 65%;
  height: auto;
}
table {
    // border-collapse: collapse;
    width: 20%;
}
  th, td {
      text-align: left;
      padding: 8px;
  }
    // .index-img
    // {
    //   height: auto;
    //   width: 65%;
    // }
  .color-tr:nth-child(even){background-color: #f2f2f2}
  .text
  {
    p
    {
      font-family: serif;
      font-size: 1.5em;
      font-style: italic;
      text-indent: 1em;
    }
    .row
    {
      margin-top: 30%;
    }
  }
