=render "my_requests_links"
-if @requests_pending.any?
  %table.table
    %h2 Pending requests
    %thead
      %tr
        %th Conference
        %th Message sent with request
        %th Date created
        %th Request status
        %th Answer sent with request
        %th Updated at
    -@requests_pending.each do |request|
      %tbody
        %tr.warning
          %th=link_to("#{request.conference.title}", conference_path(request.conference))
          %th=request.message
          %th=request.created_at.strftime("%m.%d.%y %H:%M")
          %th Accepted
          %th=request.answer
          %th=request.updated_at.strftime("%m.%d.%y %H:%M")
