%footer.container-fluid.navbar-fixed-bottom
  %small
    %a{href: "#"}Speakhub app
  %nav
    %ul
      %li= link_to "About",  about_path
      %li= link_to "Contact", contact_path
      %li= link_to "News",    '#'



/ <div class="navbar-fixed-bottom row-fluid">
/ 	<div class="navbar-inner">
/ 	  <div class="container">