%p#notice= notice

First name:
=@account.f_name
%br
Last name:
=@account.l_name
%br
Phone number:
=@account.phone
%br
Facebook account:
=@account.facebook_account
%br
Skype account:
=@account.skype_account
%br
%p Photo:
=image_tag @account.image.show
%br
= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Home', root_path
